body{
    min-height: 100vh;
    background: linear-gradient(to right, #959cac, #1e293b);
}


.card img {
    height: 200px;
    object-fit: contain;
}

.card {
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.card:hover {
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}